pkgbase = dylint-link
	pkgdesc = A wrapper around Rust's default linker to help create Dylint libraries
	pkgver = 1.0.5
	pkgrel = 0
	url = https://github.com/trailofbits/dylint
	arch = x86_64
	license = MIT
	makedepends = rust
	source = https://github.com/trailofbits/dylint/archive/refs/tags/v1.0.5.tar.gz
	sha256sums = f8a50df31d1807f97dda151465aa1b720f13f9c859edaa9519f21fc974735ee0

pkgname = dylint-link
