pkgbase = photoprism-git
	pkgdesc = Personal Photo Management powered by Go and Google TensorFlow
	pkgver = 210211.b9595dd4.r34.g0990e54a
	pkgrel = 1
	url = https://github.com/photoprism/photoprism
	arch = x86_64
	arch = aarch64
	license = GPLv3
	makedepends = go
	makedepends = nodejs
	makedepends = npm
	makedepends = git
	depends = tensorflow115
	provides = photoprism
	conflicts = photoprism
	backup = etc/photoprism/options.yml
	source = photoprism::git+https://github.com/photoprism/photoprism#branch=develop
	source = https://dl.photoprism.org/tensorflow/nasnet.zip
	source = https://dl.photoprism.org/tensorflow/nsfw.zip
	source = photoprism.service
	source = photoprism.sysusers
	source = options.yml
	sha256sums = SKIP
	sha256sums = a0e1ad8d5a5a0ff9efc4b3ed89898bf008563ee36cacd0c804a384f8fc661588
	sha256sums = eb5e5d22e37961c3192a4757efff883f77bc989c0efceabb1395e0959d966f14
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = photoprism-git
