pkgbase = photoprism
	pkgdesc = Personal Photo Management powered by Go and Google TensorFlow
	pkgver = cc05c430535013fd10ca340220d8c1794d572d57
	pkgrel = 1
	url = https://github.com/photoprism/photoprism
	arch = x86_64
	arch = aarch64
	license = GPLv3
	makedepends = go
	makedepends = nodejs
	depends = tensorflow-1
	optdepends = mariadb
	source = https://github.com/photoprism/photoprism/archive/cc05c430535013fd10ca340220d8c1794d572d57.tar.gz
	source = https://dl.photoprism.org/tensorflow/nasnet.zip
	source = https://dl.photoprism.org/tensorflow/nsfw.zip
	source = photoprism.service
	source = photoprism.sysusers
	sha1sums = SKIP
	sha1sums = f18b801354e95cade497b4f12e8d2537d04c04f6
	sha1sums = 2e03ad3c6aec27c270c650d0574ff2a6291d992b
	sha1sums = SKIP
	sha1sums = SKIP
	sha256sums = de04ebfa99acf4349a7e235c68f2e4e6ab496c12013523dd7eba93a1ccb82cc0
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = photoprism
