pkgbase = satstack-bin
	pkgdesc = Use Ledger Live with your Bitcoin full node
	pkgver = 0.13.2
	pkgrel = 0
	url = https://github.com/LedgerHQ/satstack
	arch = x86_64
	license = BSD-2
	source = https://github.com/LedgerHQ/satstack/releases/download/v0.13.2/satstack_0.13.2_Linux-amd64.tar.gz
	sha256sums = a693a8ad61758f29bb9914b1c75f7176fa9b8e34c102e7b73f316f4bd3f68304

pkgname = satstack-bin
