name: PKGBUILD CI

on: push

jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package: [satstack-bin, tensorflow115, photoprism]
        include:
          - package: photoprism
            aurDeps: tensorflow115
      fail-fast: false
    steps:
    - uses: actions/checkout@v2

    - name: Makepkg Build and Check
      uses: edlanglois/pkgbuild-action@v1
      with:
        pkgdir: ./${{ matrix.package }}
        aurDeps: ./${{ matrix.aurDeps }}
